
.banner-container{
    display: flex;
    margin-top: 50px;
    
}
.banner-title{
    text-align: center;
    width: 900px;
    height: 450px;
    line-height: normal;
    background-image: url('../B8A2-Gamer-Zone/images/Group\ 14.png');
    margin-right: 160px;
    background-position: 100%;
}
.banner-img img{
    width: 480px;
    height: 450px;
    margin-left: 20px;
    margin-right: 145px;
    padding-bottom: 30px;
}
h4{
    color: #0B0223;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-title p{
    color: #534C64;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-1{
    
    padding: 15px 28px;
    border-radius: 30px;
    background: #FF42A5 ;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin-right: 5px;
    
}
.btn-2{
    padding:15px 28px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin-left: 5px;
}
.main-container{
    align-items: center;
    margin-left: 150px;
}

.main-title{
    text-align: center;
    margin-right: 150px;

}
.common{
    color: #0B0223;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pp{
    color: #534C64;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.main-img{
    display: flex;
}
.main-img img{
    width: 230px;
    height: 280px;
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
    margin-left: 15px;
}
.img-text{
    display: flex;
}
.p1{
    width: 220px;
    color: #534C64;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    padding-right: 1px;
    padding-left: 10px;
    margin-left: 5px;
}
.p2{
    width: 220px;
    color: #534C64;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    padding-left: 30px;
}
.p3{
    width: 160px;
    color: #534C64;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    padding-left: 25px;
}
.p4{
    width: 200px;
    color: #534C64;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    padding-left: 85px;
}
.feature-container{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.feature-title{
    text-align: center;
   
}
.feature-head{
    text-align: right;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.feature-p{
    width: 240px;
    color: #534C64;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 250px;
    padding-bottom: 250px;
}
.feature-img img{
    width: 400px;
    height: 410px;
    border-radius: 8px;
    background: lightgray -7.583px 0px / 102.389% 100% no-repeat;
    margin-left: 235px;
}
.two-pic img{
    width: 190px;
    height: 230px;
    position: relative;
    bottom: 185px;
    right: 100px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: lightgray 0px -0.304px / 100% 117.229% no-repeat;
}
.logo-container{
    width: auto;
    height: 227px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
    margin-right: 180px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    
}
.img-container img{
    width: 35px;
    height: 40px;
    
}
/*.footer-container{
    display: flex;
    margin-top: 50px;
    width: 1920px;
    height: 506px;
    background: #0B0223;
  
   
}*/
.footer-cont{
    background: #0B0223;
    height: 600px;
    align-items: center;
}
.img-container2{
    padding-left: 38%;
    align-items: center;
    display: flex;
    color: #FFF
}

.p10{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 80px;
    border: #ce0335;
    padding-left: 25%;

}
.p11{
    display: flex;
    align-items: center;
    gap: 80px;
    color: rgba(255, 255, 255, 0.60);
    padding-left: 23%;
    padding-top: 50px;

}
.social-link{
    padding-left: 38%;
    padding-top: 35px;
}
.finish{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 16%;
}
.head{
    display: flex;
    height: 70px;
    padding-top: 2px;
    font-size: 25px;
}
.ban-head{
    display: flex;
    height: 80px;
    text-size-adjust: 50px;
    background: #4EC5F7;
    padding-top: 10px;
    padding-left: 110px;
}
.ban-head h3{
    size: 50px;
}
.p5{
    padding-left: 40%;
    display: flex;
    padding-right: 20px;
    padding-top: 5px;
    gap: 20px;
}
.p6{
    display: flex;
    border-radius: 10px;
    height: 50px;
    background: gray ;
    padding-bottom: 0%;
    padding-top: 5px;

}
.p7{
    display: flex;
    padding-left: 5px;
    padding-top: 14px;

}


@media screen and (max-width: 576px) {
    .banner-container, .main-container{
        flex-direction: column;
    }
    .banner-img img{
    width: 550px;
    height: 500px;
    }
    .banner-title{
        width: 700px;
    }
    .main-img{
        grid-template-columns: 1fr;
    }
}



